:root {
  --card-width: 500px;
}

body {
	background-color: lightgrey;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-areas: 'card card . collection collection';
	align-items: start;
}

#card_side {
	grid-area: card;
}

#cat_card {
	margin-top: 25px;
	background-color: azure;
	display: inline-block;
	padding: 3px;
	border: 3px solid black;
	width: var(--card-width);
}

#cat_pic {
	height: calc(var(--card-width) / 1.6);
	width: var(--card-width);
	object-fit: cover;
}

#cat_fact {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: var(--card-width);
}

#caption_box {
	font-size: 25px;
	font-family: Impact;
	margin-top: 25px;
	display: block;
	width: var(--card-width);
}
#caption_box::placeholder {  
	text-align: center; 
} 

#button_holder {
	width: var(--card-width);
	display: flex;
	justify-content: space-around;
}

#collection {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: collection;
}

.collection-pic {
	height: calc((var(--card-width) / 1.6) / 4);
	width: calc(var(--card-width) / 4);
	object-fit: cover;
}
.collection-fact {
	width: calc(var(--card-width) / 4);
}
